name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker hub
      uses: docker/login-action@v2
      with:
        username: awaismohammad23
        password: ${{secrets.DOCKERHUB_TOKEN}}

    - name: Build Docker Image
      run: |
        docker build -t awaismohammad23/assignment_4_q2:latest -f Dockerfile .

    - name: Push Docker Image to DockerHub
      run: docker push awaismohammad23/assignment_4_q2:latest
